.formInput {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: white;
  margin: 0.5rem auto;
  padding: 0.25rem 0;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.formInput:focus,
.formInput:hover {
  outline: none;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  border-color: white;
}

.formInput::placeholder {
  color: white;
}

.formInput:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.darkColor {
  color: #2b2b2b;
  border-bottom-color: #2b2b2b;
}

.darkColor:hover,
.darkColor:focus {
  border-color: #2b2b2b;
}

.darkColor::placeholder {
  color: #2b2b2b;
}

.darkColor:focus::placeholder {
  color: #2b2b2b;
}
