.listTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 1rem 0;
}

.listTitle {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

.listTitleButton {
  all: unset;
  cursor: pointer;
  text-align: center;
}

.darkListTitleButton {
  all: unset;
  cursor: pointer;
  text-align: center;
}

.darkListTitleButton svg {
  stroke: white;
}

.listTitleButton:nth-child(2),
.darkListTitleButton:nth-child(2) {
  margin-right: 0.5rem;
}
